#navbars{
    display:block;
    color: red;
}
#head{
    color:rgb(237, 241, 10);
  text-shadow: 0px 2px 2px rgb(255, 81, 0),0px 2px 2px rgb(14, 13, 13),0px 4px 8px rgb(14, 13, 13);
  font-family:Arial, Helvetica, sans-serif;
}
#icon{
    color:rgb(243, 170, 11);
}
